{% assign _url = page.url | split: "/" %}
{% assign current = _url[-1] | split: "." %}
<section id="header-nav">
  <header>
    <nav>
      <ul>
        {% case current[0] %}
        <!-- home -->
        {% when none %}
        <li class="current">Home</li>
        <a href="{{ site.url }}/publications">
          <li class="btn-nav">Publications</li>
        </a>
        {% if site.blog %}
        <a href="{{ site.url }}/blog">
          <li class="btn-nav">Blog</li>
        </a>
        <a href="{{ site.url }}/tags">
          <li class="btn-nav">Tags</li>
        </a>
        {% endif %}
        <!-- publications -->
        {% when 'publications' %}
        <a href="{{ site.url }}">
          <li class="btn-nav">Home</li>
        </a>
        <li class="current">Publications</li>
        {% if site.blog %}
        <a href="{{ site.url }}/blog">
          <li class="btn-nav">Blog</li>
        </a>
        <a href="{{ site.url }}/tags">
          <li class="btn-nav">Tags</li>
        </a>
        {% endif %}
        <!-- blog -->
        {% when 'blog' %}
        <a href="{{ site.url }}">
          <li class="btn-nav">Home</li>
        </a>
        <a href="{{ site.url }}/publications">
          <li class="btn-nav">Publications</li>
        </a>
        {% if site.blog %}
        <li class="current">Blog</li>
        <a href="{{ site.url }}/tags">
          <li class="btn-nav">Tags</li>
        </a>
        {% endif %}
        <!-- tags -->
        {% when 'tags' %}
        <a href="{{ site.url }}">
          <li class="btn-nav">Home</li>
        </a>
        <a href="{{ site.url }}/publications">
          <li class="btn-nav">Publications</li>
        </a>
        {% if site.blog %}
        <a href="{{ site.url }}/blog">
          <li class="btn-nav">Blog</li>
        </a>
        <li class="current">Tags</li>
        {% endif %}
        {% else %}
        <!-- others -->
        <a href="{{ site.url }}">
          <li class="btn-nav">Home</li>
        </a>
        <a href="{{ site.url }}/publications">
          <li class="btn-nav">Publications</li>
        </a>
        {% if site.blog %}
        <a href="{{ site.url }}/blog">
          <li class="current btn-nav">Blog</li>
        </a>
        <a href="{{ site.url }}/tags">
          <li class="btn-nav">Tags</li>
        </a>
        {% endif %}
        {% endcase %}
      </ul>
    </nav>
  </header>
</section>