{% assign icons = site.theme_settings.icons %}
{% if icons.email %}
<li>
  <a href="mailto:{{ icons.email | encode_email }}" title="Email">
    <i class="fas fa-envelope"></i>
  </a>
</li>
{% endif %}

{% if icons.orcid %}
<li>
  <a href="https://orcid.org/{{ icons.orcid }}", title="ORCID">
    <i class="ai ai-orcid"></i>
</li>
{% endif %}

{% if icons.scholar %}
<li>
  <a href="https://scholar.google.com/citations?user={{ icons.scholar }}" title="Google Scholar">
    <i class="ai ai-google-scholar"></i>
</li>
{% endif %}

{% if icons.publons %}
<li>
  <a href="https://publons.com/a/{{ icons.publons }}/" title="Publons">
    <i class="ai ai-publons"></i>
</li>
{% endif %}

{% if icons.research_gate %}
<li>
  <a href="https://www.researchgate.net/profile/{{ icons.research_gate }}/" title="ResearchGate">
    <i class="ai ai-researchgate"></i>
</li>
{% endif %}

{% if icons.linkedin %}
<li>
  <a href="{{ icons.linkedin }}" title="Linkedin">
    <i class="fab fa-linkedin"></i>
  </a>
</li>
{% endif %}

{% if icons.github %}
<li>
  <a href="https://github.com/{{ icons.github }}" title="Github">
    <i class="fab fa-github"></i>
  </a>
</li>
{% endif %}

{% if icons.gitlab %}
<li>
  <a href="https://gitlab.com/{{ icons.gitlab }}" title="Gitlab">
    <i class="fab fa-gitlab"></i>
  </a>
</li>
{% endif %}

{% if icons.bitbucket %}
<li>
  <a href="https://bitbucket.org/{{ icons.bitbucket }}" title="Bitbucket">
    <i class="fab fa-bitbucket"></i>
  </a>
</li>
{% endif %}

{% if icons.google_plus %}
<li>
  <a href="https://plus.google.com/{{ icons.google_plus }}" title="Google Plus">
    <i class="fab fa-google-plus-g"></i>
  </a>
</li>
{% endif %}

{% if icons.twitter %}
<li>
  <a href="https://twitter.com/{{ icons.twitter }}" title="Twitter">
    <i class="fab fa-twitter"></i>
  </a>
</li>
{% endif %}

{% if icons.youtube %}
<li>
  <a href="https://www.youtube.com/user/{{ icons.youtube }}" title="YouTube">
    <i class="fab fa-youtube"></i>
  </a>
</li>
{% endif %}

{% if icons.facebook %}
<li>
  <a href="https://www.facebook.com/{{ icons.facebook }}" title="Facebook">
    <i class="fab fa-facebook-f"></i>
  </a>
</li>
{% endif %}

{% if icons.instagram %}
<li>
  <a href="http://instagram.com/{{ icons.instagram }}" title="Instagram">
    <i class="fab fa-instagram"></i>
  </a>
</li>
{% endif %}